<!DOCTYPE html>
<html>
<head>
  <title>Minesweeper</title>
  <script src="/static/script.js" defer></script>
</head>
<body>
    <img src="/static/logo.jpg" alt="Game Logo" style="height: 60px; margin-bottom: 10px;">
  <h1>Minesweeper - iPay Magazine</h1>
  <label>Name: <input type="text" id="playerName" /></label>
  <div id="minesweeper-board" style="margin-top: 20px;"></div>
  <p>Time: <span id="timer">0</span> seconds</p>
  <button id="submitBtn" onclick="submitScore()" disabled>Submit Score</button>
    <button onclick="startGame()">Reset Game</button>


  
</body>
</html>
